::-webkit-scrollbar {
  width: 0px;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .title-logo{
    position: absolute;
    top: 20px;
    left: 20px;
    color: #CFCFD9;
    font-size: 35px;
  }
  .image-hack{
    height: 50px;
    width: 50px;
  }
  .logo{
    position: absolute;
    top: 50px;
    left: 50px;
  }
  .hacknitte{
    text-decoration: solid;
    position: absolute;
    top: 48px;
    left: 120px;
    color: #ffffff;
    font-size: 35px;
  }
  .cardReg {
    padding: 30px;
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    margin-right: 4px;
    background:  #19182524;
    border-radius: 0.5rem;
    max-width: 600px;
    text-align: left;
    /* border: 1px solid #19A7CE; 
    border-image: linear-gradient(135deg,#19A7CE,#19182500 ,#19A7CE) 30; */
    overflow-y: auto;
  }
  
  .welcome {
    padding-top: 10px;
    color: #E1F2F5;
    font-size: 33px;
    margin-top: -24px;
    margin-bottom: -10px;
  }
  
  .register-text {
    font-weight: lighter;
    text-align: center;
    color: #24C6DC;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
      margin: auto;
  }
  
  input {
    
    display: flex;
    align-items: center;
    margin-right: 0;
    background-color: #ffffff0f;
    color: #fff;
    width: 100%;
    padding: 10px;
    padding-right: 0;
    padding : 1rem;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 0px solid #ccc;
  }

  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .password-eye{
    margin-bottom: 6px;
    height: 18px;
  }
  
  .register-btn {
    justify-content: center;
    width: 100%;
    padding: 1px;
    background: linear-gradient(90.19deg, #CC1B62 0.16%, #39317B 111.47%);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Responsive Styles */
  /* Responsive Styles */
  
  @media screen and (max-width: 480px) {
    .card {
      width: 100%;
      margin: auto;
    }
  }
  @media screen and (max-width: 768px) {
    body{
      padding-right: 50px;
    }
  }
  @media screen and (max-width: 600px) {
    body{
      padding-right: 65px;
    }
  }
  @media screen and (max-width: 400px) {
    body{
      padding-right: 70px;
    }
  }
  @media screen and (max-width: 350px) {
    body{
      padding-right: 75px;
    }
  }
  @media screen and (max-width: 1000px) {
    .title-logo-register{
      display: none;
    }
    .all-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }