.upcomingContests {

    margin-right: 7.5%;
    
}
.upcomingContests h1{
    font-size: x-large;
}

.content{
    margin-right: 7.5%;
        margin-left: 7.5%;
        margin-top: 2.5%;
        margin-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2.5%;
        padding-bottom: 7.5%;
        border-image: linear-gradient(135deg, #19A7CE, #19182500, #19182500, #CC1B62) 30;
        border-width: 3px;
        border-style: solid;
}


.upcomingHackathons {
    margin-right: 7.5%;
}

.card{
    background-color: "rgba(0, 0, 0, 0.4)"; padding:"5%"; 
    border-color:"#4ecdd4"; 
    border-width:"2px";
}

.announcements{
    margin-right: 7.5%;
    border-color: "#4ecdd4";
    border-width: "2px";
    width: 100px;
    height:100px
}
.card:hover{
    color:black;
    scale:1.05;
    background-color:"#4ecdd4" ;
    transition:background-color 0.3s ease-in-out ;
}
