.calendericon {
	width: 1.3rem;
}

.daysbox {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 992px) and (orientation: portrait) {
	.calendericon {
		width: 1rem;
	}
	.daysbox {
		display: none;
	}
}

.container {
	width: 100%;
    border-radius: 0.5rem;
	height: 10vh;
	display: flex;
	align-items: center;
    margin-bottom: 1rem;
    background : linear-gradient(90deg,#cc1b6265,#38317b75);
}

@media screen and (max-width: 992px) and (orientation: landscape) {
	.calendericon {
		width: 1rem;
	}
	.daysbox {
		display: none;
	}
	.container {
		height: 15vh;
	}
}